{% extends 'layout.html.twig' %}

{% block content %}
<div class="home-container">
    <div class="cd">

        <h2 class="title">Memo'Rap</h2>

        <div class="cd-ray">

        <div class="cd-ray">

        <div class="cd-ray">

        <div class="cd-ray">

        <div class="cd-ray">

        <div class="cd-ray">

        <div class="cd-ray center">

        <div class="cd-ray pin">

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        <div class="light">

        </div>

        <div class="light left">

        </div>

    </div>
    <div class="buttons">
        <a class="button" href="/play">Créer</a>
        <a class="button" href="/join">Rejoindre</a>
    </div>
</div>
{% endblock %}
