{% extends 'layout.html.twig' %}

{% block content %}
<div class="home-container">
    <div class="cd">

        <h2 class="title">PATIENTE</h2>

        <div class="cd-ray">

        <div class="cd-ray">

        <div class="cd-ray">

        <div class="cd-ray">

        <div class="cd-ray">

        <div class="cd-ray">

        <div class="cd-ray center">

        <div class="cd-ray pin">

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        </div>

        <div class="light">

        </div>

        <div class="light left">

        </div>

    </div>
</div>

{% endblock %}
