{% extends 'layout.html.twig' %}

{% block content %}
<div class="play">
    <form class="playing">
        <label class="booba">Entre ton pseudo</label>
        <input class="kaaris" type="text">
        <a class="button" href="/round">valider</a>
    </form>
</div>
{% endblock %}