@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 100%;
        opacity: 100%;
    }
    60% {
        opacity: 0%;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ff0000;
    overflow: hidden;
}

.background li {
    border-radius: 100%;
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(187, 10, 10) 0%, rgba(187, 10, 10, 1) 30%, rgba(187, 10, 10, 1) 100%);
    animation: animate 26s linear infinite;
}

.background li:nth-child(0) {
    left: 52%;
    width: 187px;
    height: 187px;
    bottom: -187px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 2%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 1s;
}

.background li:nth-child(2) {
    left: 43%;
    width: 144px;
    height: 144px;
    bottom: -144px;
    animation-delay: 10s;
}

.background li:nth-child(3) {
    left: 82%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 6s;
}

.background li:nth-child(4) {
    left: 19%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 14s;
}

.background li:nth-child(5) {
    left: 44%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 15s;
}

.background li:nth-child(6) {
    left: 63%;
    width: 177px;
    height: 177px;
    bottom: -177px;
    animation-delay: 18s;
}

.background li:nth-child(7) {
    left: 82%;
    width: 185px;
    height: 185px;
    bottom: -185px;
    animation-delay: 19s;
}

.background li:nth-child(8) {
    left: 25%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 38s;
}
.rappeur {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Heaters, serif;
    font-size: 2rem;
}

.victory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Heaters, serif;
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 8rem;
}

.victory-container button {
    margin-left: 11rem;
}

@media (min-width: 850px) {
    .background li:nth-child(9) {
        left: 33%;
        width: 161px;
        height: 161px;
        bottom: -161px;
        animation-delay: 27s;
    }
    .background li:nth-child(10) {
        left: 8%;
        width: 138px;
        height: 138px;
        bottom: -138px;
        animation-delay: 25s;
    }
    .background li:nth-child(11) {
        left: 44%;
        width: 134px;
        height: 134px;
        bottom: -134px;
        animation-delay: 4s;
    }
    .background li:nth-child(12) {
        left: 41%;
        width: 187px;
        height: 187px;
        bottom: -187px;
        animation-delay: 32s;
    }
    .background li:nth-child(13) {
        left: 19%;
        width: 111px;
        height: 111px;
        bottom: -111px;
        animation-delay: 12s;
    }
    .background li:nth-child(14) {
        left: 42%;
        width: 182px;
        height: 182px;
        bottom: -182px;
        animation-delay: 22s;
    }
    .background li:nth-child(15) {
        left: 44%;
        width: 137px;
        height: 137px;
        bottom: -137px;
        animation-delay: 61s;
    }
    .background li:nth-child(16) {
        left: 85%;
        width: 183px;
        height: 183px;
        bottom: -183px;
        animation-delay: 9s;
    }
    .background li:nth-child(17) {
        left: 37%;
        width: 159px;
        height: 159px;
        bottom: -159px;
        animation-delay: 45s;
    }
    .background li:nth-child(18) {
        left: 31%;
        width: 177px;
        height: 177px;
        bottom: -177px;
        animation-delay: 15s;
    }
    .background li:nth-child(19) {
        left: 31%;
        width: 179px;
        height: 179px;
        bottom: -179px;
        animation-delay: 1s;
    }
    .background li:nth-child(20) {
        left: 75%;
        width: 186px;
        height: 186px;
        bottom: -186px;
        animation-delay: 67s;
    }
}

@font-face {
    font-family: "Heaters";
    src: url("/assets/css/fonts/Heaters.otf");
}

h1,
h2,
h3,
.phrases,
.button,
.booba,
.booba1,
input {
    font-family: Heaters, serif;
}

.nekfeu {
    font-family: Heaters, serif;
    font-size: 2rem;
    margin-bottom: 6rem;
}

.cd {
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid grey;
    box-shadow: inset 50% 50% 5px white;
    position: relative;
}

@keyframes tourne {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cd-ray {
    border-radius: 50%;
    background-color: #222222;
    border: .2rem solid grey;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cd-ray.center {
    background-color: red;
    border: unset;
}

.cd-ray.pin {
    background-color: white;
    width: .5rem;
    height: .5rem;
    border: unset;
}

.waiting-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: red;
}

.rules {
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    color: white;
    font-style: bold;
    font-size: 1.2rem;
    z-index: 1;
}

.light {
    position: absolute;
    background: linear-gradient( -90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)70%);
    left: 50%;
    transform-origin: left center;
    transform: rotate(20deg);
    z-index: 1;
    width: 2rem;
    height: 100%;
    animation-duration: 3s;
    animation-name: tourne;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(0deg);
}

.left {
    transform-origin: right center;
    background: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)70%);
    left: unset;
    right: 50%;
}

.cd .title {
    position: absolute;
    top: 0%;
    z-index: 2;
    font-size: 7.5rem;
    color: white;
}

input:checked+div {
    display: none;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.button {
    font-size: 3rem;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #000000;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    width: 40%;
    text-align: center;
    z-index: 1;
    border-radius: 5%;
    padding: 0 2rem 0 2rem;
}

.buttons {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 3rem;
    width: 100%;
}

.playing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kaaris {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 70%;
    height: 3rem;
    font-size: 1.5rem;
    z-index: 1;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
}

.booba1 {
    margin-top: 5rem;
    font-size: 3rem;
    z-index: 1;
}

.booba {
    font-size: 3rem;
    margin-top: 2rem;
    z-index: 1;
}

.jul {
    font-size: 3rem;
    z-index: 1;
    margin-top: 3rem;
    width: 50%;
    height: 3.5rem;
    color: black;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
}

.game-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-form-text {
    font-family: Heaters, serif;
    font-size: 2.3rem;
}
.game-form-input {
    width: 60%;
    height: 2rem;
    font-size: 1.8rem;
    text-align: center;
}
.game-form-button {
    margin: 1rem;
    width: 45%;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    font-family: Heaters, serif;
}
.lobby-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}
.lobby-container h1 {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 3rem;
    z-index: 1;
    text-align: center;
}
.lobby-container div {
    grid-row: 2/3;
    grid-column: 1/4;
    z-index: 1;
}
.lobby-container input {
    grid-row: 3/4;
    grid-column: 3/4;
    width: 90%;
    height: 3rem;
    font-family: Heaters, serif;
    font-size: 2rem;
    z-index: 1;
}
.game-container {
    display: grid;
    grid-template-rows: 6fr 1fr 2fr 1fr;
    height: 100vh;
    text-align: center;
}
.phrases {
    grid-row: 1/2;
    font-size: 3.5rem;
    z-index: 1;
}
.timer {
    grid-row: 2/3;
    z-index: 1;
}
#time[value] {
    -webkit-appearance: none;
    height: 50%;
    width: 80%;
    color: black;
}
.point {
    text-align: unset;
    align-self: end;
    font-size: 2rem;
    z-index: 1;
}
#time::after {
    content: "s";
}
.right {
    background-color: greenyellow;
}
@keyframes nope {
    0% {
        position: relative;
        left: -5px;
    }
    
    20% {
        position: relative;
        left: 5px;
    }
    
    40% {
        position: relative;
        left: -5px;
    }
    
    60% {
        position: relative;
        left: 5px;
    }
    
    80% {
        position: relative;
        left: -5px;
    }
    
    100% {
        position: relative;
        left: 5px;
    }
}
.wrong {
    animation-duration: .5s;
    animation-name: nope;
    animation-timing-function: linear;
}