{% extends 'layout.html.twig' %}


{% block content %}
    <div class="lobby-container">
        <h1>Pour rejoindre: </h1>
        <div></div>
        <input type="button" value="Commencer">
    </div>
{% endblock %}

{% block javascript %}
<script src="assets/js/lobby.js"></script>
{% endblock %}