{% extends 'layout.html.twig' %}

{% block content %}
<input type="checkbox">
<div class="waiting-container">
    <div class="cd">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="rules">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu est semper, tincidunt nisi eu, sagittis orci. Sed id aliquam nibh. Aliquam pretium justo a porttitor commodo. Curabitur scelerisque imperdiet orci. Phasellus ultrices dolor in varius cursus. Curabitur nunc ligula, dapibus at feugiat at, dignissim eu diam. Etiam euismod elementum augue q</p>
    </div>
</div>
<input type="checkbox">
<div>qzudhqzkduh</div>
<input type="checkbox">
<div>qzudhqzkduh</div>
{% endblock %}