{% extends 'layout.html.twig' %}

{% block content %}
<input type="checkbox">
<div class="waiting-container">
    <div class="cd">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    <div class="rules"></div>
</div>
<input type="checkbox">
<div>qzudhqzkduh</div>
<input type="checkbox">
<div>qzudhqzkduh</div>
{% endblock %}