{% extends 'layout.html.twig' %}

{% block content %}
<input type="checkbox" id="waiting">
<div class="waiting-container">
    <div class="cd">
        <h2 class="title">PATIENTE</h2>
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray center">
        <div class="cd-ray pin">
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="light">
        </div>
        <div class="light left">
        </div>
    </div>
    <div class="rules">
    <!-- Faite les regles-->
        <p class="nekfeu"> Bienvenue dans MémoRap, tu dois trouver à quel titre et quel rappeur appartienne les phrases affichées à l'écran. Tu as quinze secondes par round pour trouver, plus tu trouves rapidement plus tu as de point.</p>
    </div>
</div>
<input type="checkbox" id="play">
<div class="game-container">
    <form class="game-form">
        <label class="game-form-text">Réponse</label>
        <input type="text" placeholder="Eminem" class="game-form-input" id="answer">
        <input type="button" class="game-form-button" id="submit" value="Valider">
    </form>
</div>
<input type="checkbox" id="victory">

    <!-- Faite le petit victory, tout en dur -->
<div></div>
{% endblock %}
{% block javascript %}
<script src="assets/js/script.js"></script>
{% endblock %}