{% extends 'layout.html.twig' %}

{% block content %}
<input type="checkbox">
<div class="waiting-container">
    <div class="cd">
        <h2 class="title">PATIENTE</h2>
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray">
        <div class="cd-ray center">
        <div class="cd-ray pin">
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="light">
        </div>
        <div class="light left">
        </div>
    </div>
    <div class="rules">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu est semper, tincidunt nisi eu, sagittis orci. Sed id aliquam nibh. Aliquam pretium justo a porttitor commodo. Curabitur scelerisque imperdiet orci. Phasellus ultrices dolor in varius cursus. Curabitur nunc ligula, dapibus at feugiat at, dignissim eu diam. Etiam euismod elementum augue q</p>
    </div>
</div>
<input type="checkbox">
<div class="game-container">
    <form class="game-form">
        <label class="game-form-text">Réponse</label>
        <input type="text" placeholder="Eminem" class="game-form-input" id="answer">
        <input type="button" class="game-form-button" id="submit" value="Valider">
    </form>
</div>
<input type="checkbox">
<div>qzudhqzkduh</div>
{% endblock %}
{% block javascript %}
<script src="assets/js/script.js"></script>
{% endblock %}