{% extends 'layout.html.twig' %}


{% block content %}
    <div class="victory-container">
    <!-- Faite la page de fin-->
    <h2> Féliciations la réponse était bien : Orelsan !</h2>
    <h2> Le titre était bien : "Basique"</h2>
    <h2> Bien vu la réponse était bien : Nekfeu !</h2>
    <h2> Vous n'aviez pas le titre, c'était : "Nique les clones" !</h2>
    </div>
{% endblock %}
