{% extends 'layout.html.twig' %}


{% block content %}
    <div class="game-container">

    <!-- stilisé le truc -->
        <form class="playing">
            <label class="booba">Nom du premier artiste</label>
            <input class="kaaris" type="text">
            <label class="booba">Nom de la première musique</label>
            <input class="kaaris" type="text">
        </form>
        <a class="button" href="/result">Suivant</a>
    </div>
{% endblock %}