{% extends 'layout.html.twig' %}


{% block content %}
    <div class="game-container">

    <!-- stilisé le truc -->
        <div class="phrases">
            <p id="first">Hello world</p>
            <p id="second">Hello world</p>
        </div>
        <div class="timer">
            <p id="time">15</p>
        </div>
        <div class="point">
            <p id="point">+2</p>
        </div>
    <div>
        <a class="button" href="/Result">Result</a>
    </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="assets/js/lobby.js"></script>
{% endblock %}